
html {
    font-size: 16px;
    font-family: sans-serif;
}

.container {
    width: 98%;
    margin: 0 auto;
}

.header {
    padding-bottom: 8%;
    background: url(../images/front.jpg) no-repeat;
    background-size: 100% 135%;
    text-align: center;
    color: white;

} 

.header h1 {
    font-size: 1rem;
}

.left{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.left a {
    text-decoration: none;
    margin-right: 0.5rem;
    
    
}
.login{
    color: black;
}
.left button {
    display: block;
    width: 5rem;
    height: 4rem;
    margin-top: 0.2rem;
    font-size: 0.7rem;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
}

.right {
    text-align: center;
    width: 100%;
}

.right .login {
    width: 95%;
    text-align: -webkit-center;
}



.right .after_login {
    width: 95%;
    margin: 0 auto;
}

.right .after_login table {
    width: 95%;
    padding-bottom: 2rem;
}

.right table {
    border: none;
}

.right table th {
    background-color: silver;
}
.right table tr td {
    text-align: left;
    padding-left: 0.5rem;
}

.right table tr td:first-child {
    color: green;
}

.right table a {
    text-decoration: none;
}
input{
    font-size:1rem;
}
textarea{
    font-size:1rem;
}
span{
    color: red;
}
.right h3 {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 1rem;
}

.right .searchForm {
    background: silver;  
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}
.view{
    width: 100%;
}
.view table {
    padding-bottom: 5rem;
}

form {
    text-align: inherit;
}

.solve {
    padding: 0 15%;
}

.solve table{
    width: 100%;
}
.btnSave{
    width: 5rem;
    height: 1.6rem;
}
.solve input, textarea {
    width: 90%;
    height: 1.4rem;
}

.btnLogin {
    margin-top: 0.5rem;
    width: 4rem;
    height: 1.5rem;
}


textarea {
    height: 4rem;
}

.footer {
    background: url(../images/footerbg.jpg) no-repeat;
    background-size: 100%;
    height: 7rem;
}

@media screen and (min-width: 768px) {

    html{
        font-size: 1.5rem;
    }
    .header h1 {
        font-size: 2.5rem;
    }

    .content {
        flex-direction: row;
    }

    .left {
        flex-direction: column;
        width: 15%;
        float: left;
        margin: 0;
    }
    .left a {
        font-size: 1rem;
    }
    .right {
        font-size: 100%;
        width: 60%;
        padding-left: 10%;
    }

    .right .login {
        width: 73%;
    }
    .left button {
        width: 6rem;
        height: 3rem;
    }
    .left a {
        margin-bottom: 10%;
    }
    .view table {
        width: 100%;
    }


}
